.jumbotron {
    width: 100%;
	background-color: #BDB76B;
	color: white;
	margin-top:50px;
}

.footer {
   background-color: #EEE8AA;
   color: #2F4F4F;
   margin-top: 60px;
   width: 100%;
}

.card-hotel {
	flex: 1 200px;
	margin-top:10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
	color:white;
	background: gray;
}

.btn-contacto {
	width: 50%;
	border-radius: 0px;
	color:white;
	background: red;
	margin-bottom:5px;
}

.footer-addres-icon{
	 padding-right: 10px;
}

.imgs{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)));
	height: 50%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}

.imgC{
	background-position: center;
}

.txts{
	position: relative;
	left: 50%;
	transform: translate(-50%, -1250%);
	text-align: center;
}

.tab-content {
	padding-top: 10px;
}

.btn-funciones {
	width: 100%;
	border-radius: 0px;
	color:#2F4F4F;
	background: #EEE8AA;
}

.imgH{
  width: 500px;
  height: 500px;
  margin:10px auto;
}