@yellow:#EDDA74;
@red: #F5DEB3;
@green: #2E8B57;

.margenes(@top: 0px, @bottom: 0px){
  margin-top:@top;
  margin-bottom:@bottom;
}

.jumbotron {
  width: 100%;
  background-color: @yellow;
  color: white;
  .margenes(50px,0px);
}

.footer {
  background-color: @red;
  color: #2F4F4F;
  .margenes(60px,0px); }

.card-hotel {
  flex: 1 200px;
  .margenes(5px,0px); }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  color: white;
  background: @green; }

.btn-contacto {
  width: 50%;
  border-radius: 0px;
  color: white;
  background: red;
  margin-bottom: 5px;
  color: #2E8B57; }

.footer-addres-icon {
  padding-right: 10px; }

.imgs {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.imgC {
  background-position: center; }

.txts {
  position: relative;
  left: 50%;
  transform: translate(-50%, -1250%);
  text-align: center; }

.tab-content {
  padding-top: 10px; }

.btn-funciones {
  width: 100%;
  border-radius: 0px;
  color: #2F4F4F;
  background: #EEE8AA; }

.imgH {
  width: 500px;
  height: 500px;
  margin: 0px auto; }

.carousel-control-next {
  margin-right: 240px; }

.carousel-control-prev {
  margin-left: 240px; }
